header	{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px 20px;
}
main {
	width: 850px;
	margin: 35px auto 35px auto;
}
img	{
	margin: 40px 8px 0 8px;
}
body {
	text-align: center;
	margin: 0;
}
h1	{
	font-family: raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
nav	{
	margin: 0;
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0 20px 0;
}
a	{
	font-family: raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 20px;
}
h2	{ 
	font-family: raleway;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
footer	{
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: raleway;
}
.copyright	{
	float: left;
}
.message	{
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
